body {
  margin: 0px;
  background-color: #f1acec;
  font-family: "Tourney", cursive;
  color: #ff7cf6;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(245, 103, 228);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(238, 17, 212);
}

.active {
  background-color: rgb(245, 103, 228);
}

.page {
  padding: 20px;
  margin-top: 30px;
  background-color: #f1acec;
  height: 1500px;
}

.content {
  background: #ffc0fc;
  height: 1200px;
  width: 75%;
  position: relative;
  margin: auto;
  border-radius: 25px;
  padding: 20px;
}

.picture {
  height: 250px;
  width: 200px;
  background: url("paper.gif");
  background-position: left top;
  background-repeat: repeat;
  margin: auto;
  border-radius: 25px;
  padding: 20px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-family: "Tourney", cursive;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(238, 17, 212);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: white;
  color: rgb(238, 17, 212);
}
